<div class="container setContainer">
  <h1 class="text-center">Contact Us</h1>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="card mt-5">
          <h1 class="text-center mt-5" style="color: white;">Shoot us a Email</h1>
          <div class="row mt-5">
            <div class="col-6">
              <div class="form-floating ms-3 mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Full Name</label>
              </div>
            </div>
            <div class="col-6">
              <div class="form-floating me-3 mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
            </div>


          </div>
          <div class="row mb-5">
            <div class="col-12 ms-3 ">
              <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
                  style="width: 600px; height: 150px;"></textarea>
                <label for="floatingTextarea">Message</label>
              </div>
              <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked" style="color: white;">
                  Don't miss out! Tick this box to receive exclusive offers, news and updates via email.
                </label>
              </div>
            </div>

          </div>
          <button class="btn">Send</button>
        </div>
      </div>
      <div class="col-6">
        <h1 class="text-center mt-5" style="font-size:1.3rem">Locate your nearby store</h1>
        <div class="card" style="background: white;">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448181.16978852544!2d76.81238151217528!3d28.64727852049406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1637352486654!5m2!1sen!2sin"
            width="650" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>

    </div>
  </div>
</div>
