<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item me-4 tag">
                    <a class="nav-link" [routerLink]="['/featured']" routerLinkActive="router-link-active">
                      FEATURED
                    </a>
                </li>

                <li class="nav-item me-4 tag">
                    <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="router-link-active">PROFILE</a>
                </li>

                <li class="nav-item me-3 tag">
                    <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active">CONTACT</a>
                </li>
                <li class="nav-item mt-3 mx-5">
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active"><span>Vogue
                            Fashion</span></a>
                </li>
                <li class="nav-item me-4 tag">
                    <a class="nav-link" [routerLink]="['/category']"
                        routerLinkActive="router-link-active">CATEGORIES</a>
                </li>

                <li class="nav-item me-4 tag">
                    <a class="nav-link" [routerLink]="['/homestop']" routerLinkActive="router-link-active">REVIEWS</a>
                </li>

                <li class="nav-item me-4 tag">
                    <div *ngIf="isUser=='true'; else templateName">
                        <!-- If isValid is true -->
                        <!-- LoggedIn{{isUser}} -->
                        <a (click)="logout()" class="nav-link" style="cursor: pointer;">LOGOUT</a>
                    </div>

                    <ng-template #templateName>
                        <!-- If isValid is false -->
                        <!-- LoggedIn{{isUser}} -->
                        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="router-link-active">LOGIN</a>
                    </ng-template>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!-- {{isUser}} -->
<router-outlet></router-outlet>
